includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    type_coverage:
        param_type: 95
    ignoreErrors:
        - identifier: missingType.iterableValue
