parameters:
    ignoreErrors:
        -
            message: '#^Out of \d+ possible param types, only \d+ - [\d.]+ % actually have it\. Add more param types to get over \d+ %$#'
            path: src/Commands/ConditionMakeCommand.php
        -
            message: '#^Out of \d+ possible param types, only \d+ - [\d.]+ % actually have it\. Add more param types to get over \d+ %$#'
            path: src/Discountify.php
