parameters:
	ignoreErrors:
		-
			message: "#^Out of 108 possible param types, only 102 \\- 94\\.4 %% actually have it\\. Add more param types to get over 99 %%$#"
			count: 4
			path: src/Commands/ConditionMakeCommand.php

		-
			message: "#^Out of 108 possible param types, only 102 \\- 94\\.4 %% actually have it\\. Add more param types to get over 99 %%$#"
			count: 2
			path: src/Discountify.php
