includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - database
    tmpDir: build/phpstan
    ignoreErrors:
        - identifier: missingType.iterableValue
        - identifier: trait.unused
